$min-container-height: 100px;

$azul-oscuro: #2f464f;
$azul-claro: #a2c7c3;
$amarillo: #eccf7b;
$blanco-grizoso: #e6e7e8;
$blanco-amarilloso: #f3eedb;

#main {
    width: 100vw;
    color: $azul-oscuro;
    font-family: 'Sulphur Point', sans-serif;
    position: relative;
}

.title1 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

.title2 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.title3 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.button1 {
    color: $azul-oscuro;
    font-weight: bolder;
    border: $azul-oscuro;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 0px 4px;
    cursor: pointer;
}

.link1 {
    font-weight: bolder;
    text-decoration: underline;
    color: $azul-oscuro;

    &:hover {
        color: $amarillo;
    }
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: $min-container-height;
    background-color: $blanco-grizoso;

    &__logo {
        width: 200px;
        height: 50%;
        margin: 0;
        padding: 26px 10px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.navbar {
    font-weight: bolder;
    color: $azul-oscuro;
    width: 700px;
    height: 100%;
    align-items: center;

    a {
        color: $azul-oscuro;
        text-decoration: none;

        &:hover {
            color: $azul-claro;
        }
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;

    img {
        height: auto;
        width: 100%;
        opacity: 0.2;
    }
}

.about {
    width: 100vw;
    height: 80vh;
    margin-top: 80px;
    display: flex;
    position: relative;
    
    &__img {
        width: 35%;
        height: 100%;
        text-align: center;


        &__photo {
            width: auto;
            height: 500px;
        }
    }

    &__content {
        width: 55%;
        height: auto;
        line-height: 1.5rem;
    }

    &__buttons {
        width: 20%;
        display: flex;
    }
}

.values {
    width: 100vw;
    height: 80vh;

    &__content {
        height: auto;
        width: 50%;
        margin: 0% 0% 0% 40%;
        position: relative;
        font-weight: bolder;

        &__title {

            h2 {
                text-align: center;
                width: 45%;
                padding: 100px 0 150px 0;
            }
        }

        &__decor {
            position: absolute;
            left: -150px;
            bottom: 20px;
            transform: rotateZ(90deg);
        }
    }

    img {
        width: 200px;
        height: 20px;
    }
}

.footer {
    width: 100%;
    height: $min-container-height * 1.5;
    background-color: $blanco-grizoso;
    text-align: center;

    &__logo {
        height: auto;
        width: 150px;
        margin: auto;
        padding: 25px;

        img {
            width: 100%;
            height: auto;
        }
    }
} 

@media (max-width: 575.98px) { 

    .header {
        margin-bottom: 30px;
    }
    
    .backdrop {
        display: none;
    }

    .about {
        display: inline;

        &__content {
            width: 80%;
            margin: 30px auto;
            text-align: justify;
        }

        &__buttons {
            width: auto;
            text-align: center;
            display: inherit;
        }

        &__img {
            width: auto;
        }
    }
}