#main {
  width: 100vw;
  color: #2f464f;
  font-family: 'Sulphur Point', sans-serif;
}

.title1 {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}

.title2 {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.title3 {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.button1 {
  color: #2f464f;
  font-weight: bolder;
  border: #2f464f;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  padding: 6px 4px;
  cursor: pointer;
}

.link1 {
  text-decoration: underline;
  color: #2f464f;
}

.link1:hover {
  color: #a2c7c3;
}

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #e6e7e8;
}

.header__logo {
  width: 200px;
  height: 50%;
  margin: 0;
  padding: 26px 10px;
}

.header__logo img {
  height: 100%;
  width: auto;
}

.navbar {
  font-weight: bolder;
  color: #2f464f;
  width: 700px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  color: #2f464f;
  text-decoration: none;
}

.navbar a:hover {
  color: #a2c7c3;
}

#content {
  margin-top: 80px;
  height: auto;
  width: 100vw;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.wrapper a {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper a:hover {
  -webkit-transform: rotate(0.5deg);
          transform: rotate(0.5deg);
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
}

.wrapper a img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contact {
  margin: 50px auto;
  text-align: center;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #e6e7e8;
  text-align: center;
}

.footer__logo {
  height: auto;
  width: 150px;
  margin: auto;
  padding: 25px;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.close {
  position: fixed;
  top: 10px;
  right: 40px;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.layover {
  background-color: rgba(255, 255, 255, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#modal_containter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.877);
  position: fixed;
  top: 0;
  overflow-y: auto;
}

.modal {
  width: 50%;
  margin: auto;
}

.modal__holder {
  width: 100%;
  overflow-y: auto;
}

.modal__text {
  padding: 100px 10% 0 10%;
  text-align: center;
  background-color: white;
}

.modal__text h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.modal__text__icons img {
  width: 20px;
  height: auto;
}

.modal__img {
  width: 100%;
  height: 100%;
}

.coming_soon {
  font-size: 100px;
  text-align: center;
  padding-top: 50%;
}

@media (max-width: 575.98px) {
  #content {
    margin-top: 0px;
  }
  .wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=design.css.map */