$min-container-height: 100px;

$azul-oscuro: #2f464f;
$azul-claro: #a2c7c3;
$amarillo: #eccf7b;
$blanco-grizoso: #e6e7e8;
$blanco-amarilloso: #f3eedb;


#main {
    width: 100vw;
    color: $azul-oscuro;
    font-family: 'Sulphur Point', sans-serif;
}

.title1 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

.title2 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.title3 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.button1 {
    color: $azul-oscuro;
    font-weight: bolder;
    border: $azul-oscuro;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    padding: 6px 4px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}


.zelda {
    font-weight: bolder;
    text-decoration: underline;
    color: $azul-oscuro;

    &:hover {
        color: $azul-claro;
    }
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.cod {
    width: 100%;
    height: $min-container-height;
    background-color: $blanco-grizoso;

    &__logo {
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 26px 10px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.navi {
    font-weight: bolder;
    color: $azul-oscuro;
    width: 700px;
    height: 100%;
    align-items: center;

    a {
        color: $azul-oscuro;
        text-decoration: none;

        &:hover {
            color: $azul-claro;
        }
    }
}

.hero {
    width: 100%;
    height: $min-container-height * 2.5;
    background-color: white;
    text-align: center;

    &__greeting {
        letter-spacing: 3px;
        padding-top: 80px;
    
    } 

    &__skills {
        width: 50%;
        margin: 70px auto 0 auto;
        font-weight: bolder;

        img {
            height: 20px;
            width: auto;
        }
    }
}

.bigM {
    width: 100%;
    height: $min-container-height * 4.5;
    background-color: $azul-claro;
    text-align: center;

    &__logo {
        height: 240px;
        width: auto;
        margin: auto auto 30px auto;
        padding-top: 115px;

        img {
            height: 100%;
            width: auto;
        }
    }

}

.testimonials {
    width: 100%;
    height: $min-container-height * 5;
    background-color: white;

    &__container {
        width: 50%;
        margin: auto;
        padding-top: 150px;
        text-align: center;
    }

    &__logo {
        height: 60px;
        width: 60px;
        margin: auto;
        background-color: cornflowerblue;
    }

    &__dots {
        height: 60px;
        width: 60px;
        margin: 0 auto 60px auto;
        background-color: cornflowerblue;
    }
}

.footer {
    width: 100%;
    height: $min-container-height * 1.5;
    background-color: $blanco-grizoso;
    text-align: center;

    &__logo {
        height: auto;
        width: 150px;
        margin: auto;
        padding: 25px;

        img {
            width: 100%;
            height: auto;
        }
    }
} 

.carousel-inner {
    height: 200px;
}

.carousel-indicators {

    li {
        border: 1px solid $amarillo;
        background-color: $amarillo;
    }
}


@media (max-width: 575.98px) { 

    .hero {
        height: 143px;
        margin: 35px 0px;
    
        &__greeting {
            letter-spacing: 3px;
            padding-top: 0px;
        } 
    
        &__skills {
            width: 95%;
            margin: 0px auto;

            h3 {
                font-size: .6rem;
            }
    
            img {
                height: 20px;
                width: auto;
                position: relative;
                bottom: 5px;
            }
        }
    }

    .title1 {
        margin: 0px 20px 60px 20px;
    }

    .bigM {
        height: 490px;
    }

    .testimonials {
    
        &__container {
            width: 80%;
            margin: auto;
            padding-top: 100px;
        }
    }

    .carousel-indicators {
        bottom: 7px;
    }

    .carousel {
        bottom: 50px;
    }
    
    .carousel-inner {
        height: 260px;
    }


}
// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }